Jupyter/PRUEBAS.ipynb
Data/australian_user_reviews.json
Data/australian_users_items.json
Data/output_steam_games.json
Data/user_reviews.csv
Data/users_items.csv
Data/steam_games.csv
Data/Diccionario de Datos STEAM.xlsx
Jupyter/users_items.parquet
Jupyter/users_reviews.parquet
Jupyter/__pycache__
h_venv/
